extend layout 

block content 
  h1 Candidate: #{candidate.full_name} 
  p #[strong Roll Number:] #{candidate.roll_number} 
  p #[strong Message:] #{candidate.message}
  a(href=candidate.url+"/delete") Delete 