extend layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name: 
      input#first_name.form-control(type='text', placeholder='Enter candidate\'s first name' name='first_name' value=(undefined===candidate?'':candidate.first_name))
      label(for='last_name') Last Name: 
      input#last_name.form-control(type='text', placeholder='Enter candidate\'s last name' name='last_name' value=(undefined===candidate?'':candidate.last_name))
    div.form-group 
      label(for='roll_number') Roll Number: 
      input#roll_number.form-control(type='text', placeholder='Enter candidate\'s roll number' name='roll_number' value=(undefined===candidate?'':candidate.roll_number))
      label(for='batch') Batch: 
      select#batch.form-control(type='select' placeholder='Select your batch' name='batch' required='true')
        option(value="IMT2020" selected=(undefined===candidate || candidate.batch!='IMT2020' ? false : 'selected')) IMT2020 
        option(value="IMT2019" selected=(undefined===candidate || candidate.batch!='IMT2019' ? false : 'selected')) IMT2019 
        option(value="MT2022" selected=(undefined===candidate || candidate.batch!='MT2022' ? false : 'selected')) MT2022
    div.form-group 
      label(for='message') Message: 
      input#message.form-control(type='text', placeholder='Enter candidate\'s message' name='message' value=(undefined===candidate?'':candidate.message))

    button.btn.btn-primary(type='submit') Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg 